.pop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #555555;
  position: fixed;
  z-index: 1080;
  overflow: auto;
  overflow-y: scroll; }
  .pop > .pop-dialog {
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
    transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
    *zoom: 1;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 900px;
    right: auto;
    left: 50%;
    margin: 15px auto;
    z-index: 1090; }
    .pop > .pop-dialog:before, .pop > .pop-dialog:after {
      content: " ";
      display: table; }
    .pop > .pop-dialog:after {
      clear: both; }
    .pop > .pop-dialog > .pop-head {
      *zoom: 1;
      background-color: #e33f30;
      color: white; }
      .pop > .pop-dialog > .pop-head:before, .pop > .pop-dialog > .pop-head:after {
        content: " ";
        display: table; }
      .pop > .pop-dialog > .pop-head:after {
        clear: both; }
      .pop > .pop-dialog > .pop-head > * {
        float: right;
        display: block;
        height: 54px; }
      .pop > .pop-dialog > .pop-head > .pop-title {
        line-height: 54px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 18px;
        float: left; }
      .pop > .pop-dialog > .pop-head > .pop-menu {
        *zoom: 1;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 13px; }
        .pop > .pop-dialog > .pop-head > .pop-menu:before, .pop > .pop-dialog > .pop-head > .pop-menu:after {
          content: " ";
          display: table; }
        .pop > .pop-dialog > .pop-head > .pop-menu:after {
          clear: both; }
        .pop > .pop-dialog > .pop-head > .pop-menu > li {
          display: block;
          float: left; }
          .pop > .pop-dialog > .pop-head > .pop-menu > li a, .pop > .pop-dialog > .pop-head > .pop-menu > li a:visited, .pop > .pop-dialog > .pop-head > .pop-menu > li a:active {
            padding: 0 15px;
            display: inline-block; }
        .pop > .pop-dialog > .pop-head > .pop-menu > li a, .pop > .pop-dialog > .pop-head > .pop-menu > li a:visited, .pop > .pop-dialog > .pop-head > .pop-menu > li a:active {
          -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
          -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
          -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
          transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
          color: white;
          text-decoration: none;
          line-height: 54px;
          border-right: 1px solid #eb6e65; }
        .pop > .pop-dialog > .pop-head > .pop-menu > li a:hover {
          background-color: #eb6e65; }
        .pop > .pop-dialog > .pop-head > .pop-menu > li:first-child a {
          border-left: 1px solid #eb6e65; }
      .pop > .pop-dialog > .pop-head > .pop-close {
        -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        color: #555555;
        font-size: 30px;
        font-weight: bold;
        line-height: 54px;
        padding: 0 18px;
        opacity: 0.3;
        cursor: pointer;
        text-decoration: none;
        display: block; }
        .pop > .pop-dialog > .pop-head > .pop-close:hover {
          opacity: 0.6; }
    .pop > .pop-dialog > .pop-submenu {
      *zoom: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 13px;
      height: 54px;
      background-color: #e0e0e0; }
      .pop > .pop-dialog > .pop-submenu:before, .pop > .pop-dialog > .pop-submenu:after {
        content: " ";
        display: table; }
      .pop > .pop-dialog > .pop-submenu:after {
        clear: both; }
      .pop > .pop-dialog > .pop-submenu > li {
        display: block;
        float: left; }
        .pop > .pop-dialog > .pop-submenu > li a, .pop > .pop-dialog > .pop-submenu > li a:visited, .pop > .pop-dialog > .pop-submenu > li a:active {
          padding: 0 15px;
          display: inline-block; }
      .pop > .pop-dialog > .pop-submenu > li a, .pop > .pop-dialog > .pop-submenu > li a:visited, .pop > .pop-dialog > .pop-submenu > li a:active {
        -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
        color: #555555;
        text-decoration: none;
        line-height: 54px;
        border-right: 1px solid #c7c5c5; }
      .pop > .pop-dialog > .pop-submenu > li a:hover {
        background-color: #c7c5c5; }
      .pop > .pop-dialog > .pop-submenu > li.active a {
        background-color: white;
        border-right-color: white; }
        .pop > .pop-dialog > .pop-submenu > li.active a:hover {
          background-color: white; }
    .pop > .pop-dialog > .pop-main {
      font-size: 13px; }

.pop-open {
  overflow: hidden; }

.pop-backdrop {
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
  transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  z-index: 1070; }

.pop-messages > * {
  float: left; }
.pop-messages > .pop-sidebar {
  *zoom: 1;
  width: 33.33333%; }
  .pop-messages > .pop-sidebar:before, .pop-messages > .pop-sidebar:after {
    content: " ";
    display: table; }
  .pop-messages > .pop-sidebar:after {
    clear: both; }
  .pop-messages > .pop-sidebar > ul {
    list-style-type: none;
    margin: 10px;
    padding: 0; }
    .pop-messages > .pop-sidebar > ul a, .pop-messages > .pop-sidebar > ul a:visited, .pop-messages > .pop-sidebar > ul a:active {
      *zoom: 1;
      -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
      -moz-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
      -o-transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
      transition: opacity 0.3s linear, top 0.3s ease-out, background-color 0.1s linear;
      display: block;
      padding: 10px;
      color: #555555;
      text-decoration: none; }
      .pop-messages > .pop-sidebar > ul a:before, .pop-messages > .pop-sidebar > ul a:after, .pop-messages > .pop-sidebar > ul a:visited:before, .pop-messages > .pop-sidebar > ul a:visited:after, .pop-messages > .pop-sidebar > ul a:active:before, .pop-messages > .pop-sidebar > ul a:active:after {
        content: " ";
        display: table; }
      .pop-messages > .pop-sidebar > ul a:after, .pop-messages > .pop-sidebar > ul a:visited:after, .pop-messages > .pop-sidebar > ul a:active:after {
        clear: both; }
      .pop-messages > .pop-sidebar > ul a img, .pop-messages > .pop-sidebar > ul a:visited img, .pop-messages > .pop-sidebar > ul a:active img {
        float: left;
        margin-right: 5px; }
      .pop-messages > .pop-sidebar > ul a strong, .pop-messages > .pop-sidebar > ul a:visited strong, .pop-messages > .pop-sidebar > ul a:active strong {
        display: block; }
    .pop-messages > .pop-sidebar > ul a:hover {
      background-color: #e0e0e0; }
.pop-messages .pop-body {
  width: 66.66666%; }
  .pop-messages .pop-body .pop-contents {
    margin: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #c7c5c5;
    min-height: 400px; }
