// Colors
$background-light: #FFFFFF;
$background-dark: #000000;

$background-header: #E33F30;
$background-header-light: #EB6E65;

$background-submenu: #E0E0E0;
$background-submenu-light: #FFFFFF;
$background-submenu-dark: #C7C5C5;

$background-body: #F7f7f7;
$background-body-light: #FFFFFF;
$background-body-dark: #DDDDDD;

$text-light: #FFFFFF;
$text-dark: #858585;
$text-faded: #999999;

// Background images

$background-calendar: url("images/calendarbg.png") no-repeat scroll left top transparent;
$background-calendar1: url("images/calendarbg1.png") repeat-y scroll left top transparent;
$background-calendar2: url("images/calendartop.png") no-repeat scroll left top transparent;
$background-sett-yes: url("images/yes.png") no-repeat scroll right top #e8fbe9;


// Sizes
$header-height: 54px;
$header-font-size: 18px;
$menu-font-size: 13px;
$submenu-font-size: 13px;
$submenu-height: 54px;
$body-font-size: 13px;
$pop-width: 900px;
