@import "variables";
@import "mixins";

.pop {
  @include fullscreen;
  @include fade;
  color: $text-dark;
  position: fixed;
  z-index: 1080;
  overflow: auto;
  overflow-y: scroll;
  display: none;
  opacity: 0;

  &.in {
    opacity: 1;
  }

  > .pop-dialog {
    @include fade;
    @include clearfix;
    @include box-shadow(0 0 15px 5px rgba(0, 0, 0, 0.2));
    background-color: $background-light;
    max-width: $pop-width;
    overflow: hidden;
    right: auto;
    left: 50%;
    margin: 20px auto;
    z-index: 1090;

    @media screen and (max-width: 900px) {
      margin: 0 auto;
    }

    > .pop-head {
      @include clearfix;
      background-color: $background-header;
      color: $text-light;

      > * {
        float: right;
        display: block;
        height: $header-height;
      }

      > .pop-title {
        line-height: $header-height;
        margin-left: 20px;
        font-weight: bold;
        font-size: $header-font-size;
        float: left;
      }

      > .pop-menu {
        @include menu;
        font-size: $menu-font-size;

        > li {
          a, a:visited, a:active {
            @include fade;
            color: $text-light;
            text-decoration: none;
            line-height: $header-height;
            border-right: 1px solid $background-header-light;
            outline: 0px;
          }

          a:hover {
            background-color: $background-header-light;
          }
        }

        > li:first-child a {
          border-left: 1px solid $background-header-light;
        }

        @media screen and (max-width: 730px) {
          clear: both;
          float: none;
          border-top: 1px solid $background-header-light;
        }
      }

      > .pop-close {
        @include fade;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        line-height: $header-height;
        padding: 0 18px;
        opacity: 0.3;
        cursor: pointer;
        text-decoration: none;
        display: block;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    > .pop-output {
      .pop-tab {
        display: none;

        &.active {
          display: block;
        }

        &.pop-tab-sidebar.active {
          display: table;
        }
      }

      > .pop-submenu {
        @include menu;
        font-size: $submenu-font-size;
        height: $submenu-height;
        background-color: $background-submenu;

        > li {
          a, a:visited, a:active {
            @include fade;
            color: $text-dark;
            text-decoration: none;
            line-height: $submenu-height;
            border-left: 1px solid $background-submenu-dark;
            outline: 0px;
          }

          a:hover {
            background-color: $background-submenu-dark;
          }

          &:first-child a {
            border-left: 0 none;
          }

          &.active a {
            background-color: $background-submenu-light;
            border-left-color: $background-submenu-light;

            &:hover {
              background-color: $background-submenu-light;
            }
          }

          &.active + li a {
            border-left-color: $background-submenu-light;
          }
        }
      }

      > .pop-main {
        font-size: $body-font-size;

        > .pop-sidebar {
          @include clearfix;
          width: 240px;
          float: left;
          background: $background-body;
          direction: rtl;

          > ul {
            list-style-type: none;
            margin: 0px;
            margin-right: 0;
            padding: 0 0 30px;
            direction: ltr;

            a, a:visited, a:active {
              @include clearfix;
              @include fade;
              display: block;
              padding: 15px 0;
              color: $text-dark;
              text-decoration: none;

              img {
                float: left;
                margin-right: 15px;
              }

              strong {
                display: block;
              }
            }

            > li {

              @include fade;
              border-right: 1px solid #dedede;

              &.active, &:hover {
                background-color: $background-body-light;
                border-right: 1px solid #ffffff;
              }

              a {
                border-bottom: 1px solid #dedede;
                margin-left: 20px;
                margin-right: 20px;
              }
            }
          }
        }

        .pop-scrollable {
          overflow: auto;
          height: 100%;
        }

        > .pop-body {
          padding: 10px;
        }
      }
    }
  }

  &.pop-flex {
    > .pop-dialog {
      height: 90%;
    }
  }
}

body.pop-open {
  overflow: hidden !important;
  margin-right: 15px !important;
}

.pop-backdrop {
  @include fade;
  @include fullscreen;
  background-color: $background-dark;
  opacity: 0;
  position: fixed;
  z-index: 1070;

  &.in {
    opacity: 0.7;
  }
}

.pop-button {
  text-align: center;
  background-color: $button-bg;
  border: 0 none;
  color: $button-text;
  display: inline-block;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s linear;
     -moz-transition: background-color 0.1s linear;
       -o-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  &:hover {
    background-color: darken($button-bg, 10%);
  }
}

.pop-button-green {
  background-color: $button-bg-green;
  &:hover {
    background-color: darken($button-bg-green, 10%);
  }
}

.pop-button-red {
  background-color: $button-bg-red;
  &:hover {
    background-color: darken($button-bg-red, 10%);
  }
}
