@import "variables";
@import "mixins";

.popselect {
  @include clearfix;
  @include border-radius(3px);
  position: relative;
  border: 1px solid $popselect-border;
  display: inline-block;
  border-spacing: 0 0;

  > * {
    float: left;
  }

  &:hover {
    border: 1px solid darken($popselect-border, 10%);

    .popselect-handle {
      border-left: 1px solid darken($popselect-border, 10%);
    }
  }

  .popselect-display,
  .popselect-hande {
    @include box-sizing(border-box);
    height: 30px;
  }

  .popselect-display {
    @include box-shadow(inset 1px 1px 2px rgba(0, 0, 0, 0.1));
    min-width: 150px;
    padding: 4px 8px;
    cursor: default;
    font-size: 14px;
    line-height: 26px;
    height: 32px;
  }

  .popselect-handle {
    display: block;
    background: $popselect-handle-bg url(images/handle-bg.png) 0 0 repeat-x scroll;
    border-left: 1px solid $popselect-border;
    width: 32px;
    height: 32px;

    i {
      background: transparent url(images/handle-arrow.png) center center no-repeat scroll;
      display: block;
      height: 6px;
      width: 9px;
      margin: 14px auto;
    }
  }

  .popselect-dropdown {
    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    @include border-radius(0 0 4px 4px);
    @include box-sizing(border-box);
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    background-color: $background-light;
    border: 1px solid darken($popselect-border, 10%);
    top: 32px;
    font-size: 13px;
    min-width: 150px;
    display: none;

    li {
      @include transition(background-color 0.1s linear);
      padding: 4px 8px;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: darken($background-light, 5%);
      }
    }

    li:last-child {
      @include border-radius(0 0 4px 4px);
    }
  }
}
